<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map 
  [zoom]="zoom" 
  [fitBounds]="true"
  [fullscreenControl]="true"
  [fullscreenControlOptions]="controlOpt">

  <agm-marker 
    *ngFor="let marker of markers" 
    [latitude]="marker.lat" 
    [longitude]="marker.lng" 
    [agmFitBounds]="true"
    [iconUrl]="{
      url: './assets/images/vehicle.png',
      scaledSize: {
          width: 30,
          height: 30
      }
  }"
    (markerClick)="clickMarker(infowindow)">

    <agm-info-window 
      [disableAutoPan]="false" 
      #infowindow>
      <h4>Hello World</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </agm-info-window>

  </agm-marker>

</agm-map>